// padding

.p-32 {
  padding: 32px;
}

.p-block-31 {
  padding-block: 31px;
}

.p-inline-34 {
  padding-inline: 34px;
}

.p-inline-10 {
  padding-inline: 10px;
}

// margin

.mr-20 {
  margin-right: 20px;
}
